<%- include('partials/head') %>
    <title>New Application</title>
    </head>

    <header>
        <%- include('partials/header') %>
    </header>


    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto">
                    <h1 class="text-center display-4 my-4">New Planning Application</h1>
                    <form action="/upload" method='POST' enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                            <input type="file" name="file" id="file" class="custom-file-input"/>
                            <label for="file" class="custom-file-label">Choose File</label>
                        </div>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary btn-block">
                    </form>

                    <script type="text/javascript">

                        $('#file').change(function (e) {
                            var files = [];
                            for (var i = 0; i < $(this)[0].files.length; i++) {
                                files.push($(this)[0].files[i].name);
                            }
                            $(this).next('.custom-file-label').html(files.join(', '));
                        });
                    
                    </script>

                    <hr>
                    <% if(files){ %>
                        <% files.forEach(function(file) {%>
                            <div class="card card-body mb-3">
                                <% if(file.isImage) { %>
                                    <img src="image/<%= file.filename %>" alt="">
                                    <% } else { %>
                                        <% file.filename %>
                                            <% } %>
                                                <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
                                                    <button class="btn btn-danger btn-block mt-4">Delete</button>
                                                </form>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <p>No files to display</p>
                                    <% } %>
                </div>
            </div>
        </div>


        <%- include('partials/footer') %>