<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <script defer src="/js/applicationupload.js"></script>
</head>

<body>

    <header>
        <%- include('partials/header') %>
    </header>

    <main>

        <body>
<h1 id="applicationTitle"> Upload documents for application <%= ref%></h1>
            <form action ="/application/applicationupload" ref='uploadForm' id = "uploadForm" method="POST" encType="multipart/form-data">

                <div class="input-group mb-3">
                    <div class="d-flex flex-column bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <div > 
                                <label for="documentinput0" id = "documentLabel0" >Upload Application Form</label> 
                                <input type="file" name="documentinput0" id = "documentinput0"/>   
                                <input type="hidden" name="documenttext0" id="documenttext0" value="Application Form"/>                         
                            </div>
                        </div>
                          
                            <input type="hidden" name="planningID" id="planningID" value= "<%= ref %>" />
                            
                        </div>
                    </div>
                </div>
                <div id="newDocumentContainer"></div>
                </div>

                <input type="hidden" name="count" id="count" value="1"/>
                <input type="submit" id="submitButton" value="Submit" class="btn btn-primary btn-block">
            </form>
            <button class="newDocumentButton" onclick="addFields()"> Add new document </button>


          
            <h2 id='success'></h2>
        </body>

    </main>


    <%- include('partials/footer') %>