<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <script defer src="/js/applicationupload.js"></script>
</head>

<body>

    <header>
        <%- include('partials/header') %>
    </header>

    <main>

        <body>
<h1 id="applicationTitle"> Upload documents for application <%= ref%></h1>
            <form action ="/application/applicationupload" ref='uploadForm' id = "uploadForm" method="POST" encType="multipart/form-data">

                <div class="input-group mb-3">
                    <div class="d-flex flex-column bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <div > <!-- class="custom-file" -->
                                <label for="documentinput0" id = "documentLabel0" >Upload Application Form</label> <!-- class="custom-file-label" -->
                                <input type="file" name="documentinput0" id = "documentinput0" />  <!-- class="custom-file-input" onchange="changeName(this.value, lab='documentLabel0')" -->                              
                            </div>
                        </div>
                        <div class="p-2 bd-highlight">
                            <div > <!-- class="custom-file" -->
                                <label for="documentinput1" id = "documentLabel1" >Additional Document 1</label> <!-- class="custom-file-label" -->
                                <input type="file" name="documentinput1" id = "documentinput1" /> <!-- class="custom-file-input" onchange="changeName(this.value, lab='documentLabel1')" -->                            
                                <input type="text" id="documenttext1" name="documenttext1"
                                placeholder="Document description">
                            </div>
                          
                            <input type="hidden" name="planningID" id="planningID" value= "<%= ref %>" />
                        </div>
                    </div>
                </div>
                <div id="newDocumentContainer"></div>
                </div>

                <input type="submit" id="submitButton" value="Submit" class="btn btn-primary btn-block">
            </form>
            <button class="newDocumentButton" onclick="addFields()"> Add new document </button>


          
            <h2 id='success'></h2>
        </body>

    </main>


    <%- include('partials/footer') %>