<%- include('partials/head') %>
    <title>New Application</title>
    </head>

    <header>
        <%- include('partials/header') %>
    </header>


    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto">
                    <h1 class="text-center display-4 my-4">New Planning Application</h1>
                    <form action="" method="POST">
                        <label for='title'>Title of Application</label>
                        <input type="text" name="title" id="title" required/>
                        <label for='description'>Description of Application</label>
                        <input type="textarea" name="description" id="description" required/>
                        <label for='applicantName'>Name of Applicant</label>
                        <input type="text" name="applicantName" id="applicantName" required/>
                        <label for='applicantAddress'>Address of applicant</label>
                        <input type="text" name="applicantAddress" id="applicantAddress" required/>
                        <label for='applicantPostcode'>Postcode of applicant</label>
                        <input type="text" name="applicantPostcode" id="applicantPostcode" required/>
                        <label for='applicantPhone'>Telephone of applicant</label>
                        <input type="text" name="applicantPhone" id="applicantPhone" required/>
                        <label for='agentName'>Name of Agent</label>
                        <input type="text" name="agentName" id="agentName"/>
                        <label for='agentAddress'>Address for agent</label>
                        <input type="text" name="agentAddress" id="agentAddress"/>
                        <label for='agentPostcode'>Postcode for agent</label>
                        <input type="text" name="agentPostcode" id="agentPostcode"/>
                        <label for='agentPhone'>Telephone for agent</label>
                        <input type="text" name="agentPhone" id="agentPhone"/>
                        <label for='propertyOwner'>Name of application site owner(s)</label>
                        <input type="text" name="propertyOwner" id="propertyOwner"/ required>
                        <label for='applicationStreet1'>Application address line 1</label>
                        <input type="text" name="applicationStreet1" id="applicationStreet1" required/>
                        <label for='applicationStreet2'>Application address line 2</label>
                        <input type="text" name="applicationStreet2" id="applicationStreet2"/>
                        <label for='applicationTown'>Application town</label>
                        <input type="text" name="applicationTown" id="applicationTown" required/>
                        <label for='applicationCounty'>Application county</label>
                        <input type="text" name="applicationCounty" id="applicationCounty" required/>
                        <label for='applicationPostcode'>Application Postcode</label>
                        <input type="text" name="applicationPostcode" id="applicationPostcode" required/>
                        <label for='modelRequired'>Is a 3d model required for this application?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="modelRequired" id="modelRequired1" value="no" checked>
                            <label class="form-check-label" for="modelRequired1">
                              No model required
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="modelRequired" id="modelRequired2" value="yes">
                            <label class="form-check-label" for="modelRequired2">
                              Model required
                            </label>
                          </div>

                    </form>
    <!-- planningID: { type: ObjectID, required: true, unique: true },
    dateCreated: { type: Date, default: Date.now, required: true },
    dateValidated: { type: Date },
    dateDecided: { type: Date },
    dateComments: { type: Date },
    committeeDate: { type: Date },
    consultationStart: { type: Date },
    consultationEnd: { type: Date },
    pressAdvert: { type: Date },
    determinationDeadline: { type: Date },
    status: { type: String, required: true },
    title: { type: String, required: true },
    description: { type: String, required: true },
    applicant: { type: String, required: true },
    agent: { 
        name: { type: String }, 
        address: { type: String }, 
        phone: { type: String } 
        postcode: 
    },
    propertyOwner: { type: String },
    applicationAddress: {
        street1: { type: String, required: true },
        street2: { type: String },
        town: { type: String, required: true },
        county: { type: String, required: true },
        postcode: { type: String, required: true },
    },
    modelRequired: { type: Boolean, required: true },
    model: { type: String },
    caseOfficer: { type: String },
    EIARequired: { type: Boolean },
    EIA: { type: String },-->
                    
                    <form action="/upload" method='POST' enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                            <input type="file" name="file" id="file" class="custom-file-input"/>
                            <label for="file" class="custom-file-label">Choose File</label>
                        </div>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary btn-block">
                    </form>

                    <script>
                        window.addEventListener('load', function() {
                            $('#file').on('change',function(){
                            //get the file name
                            var fileName = $(this).val();
                            //replace the "Choose a file" label
                            $(this).next('.custom-file-label').html(fileName);
                        })
})                      
                    </script>

                    <hr>
                    <% if(files){ %>
                        <% files.forEach(function(file) {%>
                            <div class="card card-body mb-3">
                                <% if(file.isImage) { %>
                                    <img src="image/<%= file.filename %>" alt="">
                                    <% } else { %>
                                        <% file.filename %>
                                            <% } %>
                                                <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
                                                    <button class="btn btn-danger btn-block mt-4">Delete</button>
                                                </form>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <p>No files to display</p>
                                    <% } %>
                </div>
            </div>
        </div>


        <%- include('partials/footer') %>