<%- include('partials/head') %>
    <script defer src="/js/modelupload.js"></script>
    </head>

    <body class="container">


        <%- include('partials/header') %>


            <h1 id="applicationTitle"> Upload a 3D model for application <%= ref%>
            </h1>
            <form action="/application/modelupload" ref='uploadForm' id="uploadForm" method="POST"
                encType="multipart/form-data">

                <div class="input-group mb-3">
                    <div class="d-flex flex-column  mb-3">
                        <div class="p-2 ">
                            <div>
                                <label for="modelInput0" id="modelLabel0">Upload 3d model</label>
                                <input type="file" name="modelInput0" id="modelInput0" />
                            </div>
                        </div>

                        <input type="hidden" name="planningID" id="planningID" value="<%= ref %>" />

                    </div>
                </div>
                </div>
                <div id="fileWarning"></div>
                <div id="MTLContainer"></div>
                </div>

                <input type="hidden" name="count" id="count" value="1" />
                <input type="submit" id="submitButton" value="Submit" class="btn btn-primary btn-block">
            </form>


            <h2 id='success'></h2>

            <%- include('partials/footer') %>