<%- include('partials/head') %>
</head>

<body class="container">


    <%- include('partials/header') %>


  <main>
    <div class="documentPage" style="position: relative;">
    <button onclick="goBack()" class="btn btn-primary" style="position: absolute; top:0;">Go Back</button>
    <script>
    function goBack() {
      window.history.back();
    }
    </script>
    <div id="viewer"></div>
<script>
  var viewer = document.getElementById("viewer");
  let filetype = "<%= file %>";
    let ext = filetype.slice((Math.max(0, filetype.lastIndexOf(".")) || Infinity) + 1);
    if (ext.toLowerCase() == "pdf") {
      let viewerObject = document.createElement('object');
      viewerObject.classList.add("documentViewer");
      viewerObject.data="/uploads/<%= file %>";
      viewer.appendChild(viewerObject);
        }
        if (ext.toLowerCase() == "tif") {
          let viewerObject = document.createElement('img');
      viewerObject.classList.add("documentViewer");
      viewerObject.src="/uploads/<%= file %>";
      viewer.appendChild(viewerObject);
        }
</script>
    
  </div>
  </main>


  <%- include('partials/footer') %>