<%- include('partials/head') %>
</head>

<body class="container">


    <%- include('partials/header') %>


  <main>
    <div class="title">
    <div class="documentPage" style="position: relative;">
    <button onclick="goBack()" class="btn btn-primary">Go Back</button>
  </div>
    <script>
    function goBack() {
      window.history.back();
    }
    </script>
    <div id="viewer"></div>
    <div id="downloaded"></div>  
<script>
  var viewer = document.getElementById("viewer");
  var downloaded = document.getElementById("downloaded");
  let filetype = "<%= file %>";
    let ext = filetype.slice((Math.max(0, filetype.lastIndexOf(".")) || Infinity) + 1);
    if (ext.toLowerCase() == "pdf"|| ext.toLowerCase() == "png" || ext.toLowerCase() == "jpg" || ext.toLowerCase() == "jpeg") {
      let viewerObject = document.createElement('object');
      viewerObject.classList.add("documentViewer");
      viewerObject.data="/uploads/<%= file %>";
      viewer.appendChild(viewerObject);
        }
        if (ext.toLowerCase() == "tif") {
          let viewerObject = document.createElement('a');
      viewerObject.href="/uploads/<%= file %>";
      viewerObject.download='<%= file.originalName %>';
      viewer.appendChild(viewerObject);
      viewerObject.click();
      downloaded.innerHTML="Your document has downloaded";
        }
</script>
  
  </div>
  </main>


  <%- include('partials/footer') %>