  <%- include('partials/head') %>
<script src="/js/viewportal.js"></script>
<title>Portal3d</title>
</head>

<body class="container">

    <%- include('partials/header') %>

  <main>
    <div class="titleDash">
    <button class="goBack">Return to list</button>
    <h1>Planning Application: <%= apps[0].planningID %></h1>
  </div>

  <div class = "scrollingArea">
    <table class="table table-inverse" id="table1">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Date Created</th>
          <th>Applicant</th>
          <th>Agent</th>
          <th>Application Address</th>
          <th>Application property owned by</th>
          <% if(apps[0].modelRequired === true) { %><th>3D Model</th> <% } %>
        </tr>
      </thead>
    
      <tbody>
       
        <tr>
          <td><%= apps[0].title %></td>
          <td><%= apps[0].description %></td>
          <td><%= apps[0].dateCreated.toLocaleDateString('en-GB', { year: 'numeric', month: 'long', day: 'numeric' }); %></td>
          <td><%= apps[0].applicant.name %></td>
          <td><%= apps[0].agent.name %></td>
          <td><%= apps[0].applicationAddress.street1 %><br>
          <%= apps[0].applicationAddress.street2 %><br>
          <%= apps[0].applicationAddress.town %><br>
          <%= apps[0].applicationAddress.county %><br>
          <%= apps[0].applicationAddress.postcode %></td>
          <td><%= apps[0].propertyOwner %></td>
          <% if(apps[0].modelRequired === true) { %><td><button class="view" id="view_<%= apps[0]._id %>" > View Model</button></td> <% } %>
        </tr>

      </tbody>
    </table>

    <% if(!docs) { %>
      <table class="table table-inverse" id="table2">
        <thead>
          <tr>
            <th>Description</th>
            <th>File Name</th>
            <th></th>
          </tr>
        </thead>
      
        <tbody>
         
          <tr>
            <td>No Documents to display for this application</td>
            <td></td>
          </tr>
  
        </tbody>
      </table>
      <% } %>
      
    <% if(docs) { %>
    <table class="table table-inverse" id="table2">
      <thead>
        <tr>
          <th>Description</th>
          <th>File Name</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>

        <% docs.forEach(function(docs){ %>
        <tr>      
          <td><%= docs.description %></td>
          <td><%= docs.originalName %></td>
          <td><a href= "/show/?file=<%= docs.filename %>"> View </a></td>   
        </tr>
        <% }) %>

      </tbody>
    </table>
    <% } %>
  </div>
  </main>


  <%- include('partials/footer') %>